.container {
  background-color: brown;
  padding-top: 6rem;
}

.container > .linkContent {
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > .linkContent > a {
  color: white;
  text-decoration: none;
  margin: 10px;
  text-align: center;
  line-height: 1.8rem;
  font-size: 1.15rem;
  font-weight: 700;
}

.container > .linkContent > a:focus {
  text-decoration: underline;
}

.container > .socialmediaContent {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container > .socialmediaContent > a {
  color: lightgray;
  text-decoration: none;
  margin: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
