* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 50px;
  width: 100%;
  background-color: transparent;
  transition: 0.3s;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-scroll {
  background: brown;
  transition: 0.3s;
}

.nav-active {
  transition: 0.1s;
  background-color: white;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-header > .title-scroll {
  color: lightgrey;
}

.nav > .nav-header > .titleScrollAndActive {
  color: black;
}

.nav > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.nav > .nav-btn > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
}

.nav > .nav-btn > label:hover,
.nav #nav-check:checked ~ .nav-btn > label {
  background-color: rgba(0, 0, 0, 0.09);
}

.nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid black;
}

.nav > .btn-scroll > label > span {
  border-top: 2px solid lightgrey;
}

.nav > .btnScrollAndActive > label > span {
  border-top: 2px solid black;
}

.nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: white;
  height: 0px;
  transition: 0.5s;
  overflow-y: hidden;
  top: 0px;
  left: 0px;
}
.linksContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  justify-content: center;
  align-items: center;
}

.linksContainer > a {
  color: rgb(88, 88, 88);
  font-size: 25px;
  font-weight: 900;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.linksContainer > a:hover {
  color: brown;
}

.nav > #nav-check {
  display: none;
}

nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - 200px);
  overflow-y: hidden;
}

nav > #nav-check2:not(:checked) ~ .nav-links {
  height: 0px;
}
.nav > #nav-check2:checked ~ .nav-links {
  height: calc(100vh - 200px);
  overflow-y: hidden;
}
